{% extends "pagina_principal.html" %}
<html>
	<body>
	{% block listas %}
	<div class = "about">
		<h1> Práctica Realizada por Ana María González Díaz</h1><br/>
		<h3> Doble Grado en Ingeniería en Sistemas de Telecomunicación y Administración y Dirección de Empresas</h3><br/>

		<h2> EXPLICACIÓN DE LA PRÁCTICA</h2>
		<h4> Página principal</h4>
		<p>En la parte superior hay 3 pestañas, Inicio,Museos y Ayuda comunes para todas las páginas. <br>Inicio te redirije a la página principal.<br> Museos a la página de museos <br>Ayuda te redirije a la página de funcionamiento de la práctica.<br>
		En la parte de la derecha está la cajita para loguearse que te redirije a tu página personal.Si se vuelve al inicio aparecen 3 links  uno para volver a acceder a la página personal, otro para acceder a tu página en XML y por último el link para desloguearse.Esta cajita es común en todas las páginas.
		<br> 
		Debajo de la cajita aparecen las páginas personales de cada usuario.
		<br>
		En el centro aparecen los museos más comentados y un botón que te muestra los museos comentados más accesibles.Si estas viendo los museos accesibles, y quieres dejar de verlo con pulsar otra vez el mismo botón apareceran los museos tanto accesibles como no.
		<br>
		Debajo de la lista de 5 museos más comentados aparece un botón para cargar los datos si no hubiera nada en la base de datos.
		<h4>Página de museos</h4>
		<p>En la parte de la derecha aparece un link que indica que no estas logueado y te redirije a la página principal.<br>
		Debajo de este aparecen un filtro de museos por distrito.
		En el centro aparece el listado de museos.</p>
		<h4>Página pública de usuario</h4>
		<p>Aparece el título de la página y el listado de museos seleccionados por el usuairo.</p>
		<h4>Página privada del usuario</h4>
		<p>En el centro aparece el título de la página. Debajo de este aparecen tres cajitas para cambiar el título de la página, el color y el tamaño de la letra.<br>
		Debajo de este aparece un listado de todos los museos divididos en 5 en 5. Además hay un botón para seleccionar el favorito, si pinchas en el nombre del museo te redirije a la página del museo.<br>
		A la derecha se encuentran los museos seleccionados por el usuario.</p>
		<h4>Página pública del museo</h4>
		<p>Aparece información detallada del museo.<br>A la derecha aparece un listado con los comentarios que hay del museo.</p>
		<h4>Página privada del museo</h4>
		<p>En la derecha aparece una caja para añadir un comentario y debajo de ello un listado con todos los comentarios.
		<br>En la parte central aparece la información del museo.</p>
		<div>
	{% endblock %}
	</body>
</html>	