{% load static %}
<!DOCTYPE>
<head>
	<title>MUSEOS DE MADRID </title>
	<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
	<div id = "titulo">
		<h1> Madrid es cultura! </h1>
	</div>
	<div id = "imagen">
			<img src="/images/museos_madrid.jpeg">
		</div>
	{% block menu %}
	<div id= "box">
		<a href="/">Inicio</a>
		<a href="/museos">Museos</a>
		<a href="/about">Ayuda</a>
	</div>
	{% endblock %}
	<div id="main">
	{% block login %}
		<div class = "right">
				{{form_logueado|safe}}
      	</div>
      	 {% endblock %}	
    {% block filtro %}
      	<div class = "Usuarios">
				{{lista_usuarios|safe}}
    	</div>
    {% endblock %}
    </div>
    {% block listas %}
	<div id="contenidocomun">
		<br>
			<div class = "Boton">
				{{Boton|safe}}
			</div>
		<br><br>
			<div class="Accesibles">
				{{lista_accesibles|safe}}

			</div>
		<br><br>
			<div class = "Lista">
				<h1>Lista de Museo más comentados</h1>
				{{lista|safe}}
			</div>
		<br><br>
	<div class = "Cargar">
		<form method="post" action="/cargar_datos">
        <input class="cargar" type="submit" value="Cargar museos" name="cargar">
     	</form>
		</div>	
	{% endblock %}
</div>
	<div id="pie_pagina">
			{{pie_pagina|safe}}
	</div>
</body>