{% load static %}
<!DOCTYPE>
<head>
	<title>MUSEOS DE MADRID </title>
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<link rel="shortcut icon" type="image/ico" href="/images/favicon.ico"/>
</head>

<body>
	<div id = "titulo">
		<h1> Madrid es cultura! </h1>
	</div>
	<div id = "imagen">
			<img src="/images/museos_madrid.jpeg">
		</div>
	{% block menu %}
	<div id= "box">
	<ul>
	  <li><a class="active" href="/">Home</a></li>
 	 <li><a href="museos">Museos</a></li>
 	 <li><a href="/puntuar">Puntuar</a></li>
 	 <li><a href="/xml">XML</a></li>
 	 <li><a href="/rss">RSS</a></li>
 	 <li><a href="/json">JSON</a></li>
 	 <li style="float:right"><a href="/about">Ayuda</a></li>
	</ul>
	</div>
	{% endblock %}
	<div id="main">
	{% block login %}
		<div class = "right">
				{{form_logueado|safe}}
      	</div>
      	 {% endblock %}	
    {% block filtro %}
      	<div class = "Usuarios">
				{{lista_usuarios|safe}}
    	</div>
    {% endblock %}
    </div>
    {% block listas %}
	<div id="contenidocomun">
		<br>
			<div class = "Boton">
				{{Boton|safe}}
			</div>
		<br><br>
			<div class="Accesibles">
				{{lista_accesibles|safe}}

			</div>
		<br><br>
			<div class = "Lista">
				<h1>Lista de Museo más comentados</h1>
				{{lista|safe}}
			</div>
		<br><br>
	<div class = "Cargar">
     	{{cargar|safe}}
     	{{cargar_csv|safe}}
		</div>	
	{% endblock %}
</div>
	<div id="pie_pagina">
			{{pie_pagina|safe}}
	</div>
</body>