{% extends "pagina_principal.html" %}
<html>
<body>

{% block login %}
	<div class="right" >
			{{form_logueado|safe}}
	</div>
{% endblock %}

{% block filtro %}
		<div class="filtro_distrito">
			<h2>Filtro de museos por distrito</h2>
				<form action= "" method="post">
					<input type="text" name="distrito">
					<input type="submit" value = "Seleccionar distrito">
				</form>
				<a href="/museos">Ver todos</a>
		</div>
	</div>
{% endblock %}

{% block listas %}
<div class = 'boton_museos'>
	{{Boton|safe}}
	</div>
<div class = 'museos_todos'>
	{{lista_filtros|safe}}
	{% if seleccion.has_previous %}
		<a href="?page={{seleccion.previous_page_numbers}}"> Página Anterior</a>
	{% endif %}

	{{seleccion.number}} - {{seleccion.paginator.num_pages}}

	{% if seleccion.has_next %}
		<a href="?page={{seleccion.next_page_number}}"> Página Siguiente</a>
	{% endif %}
</div>
{% endblock %}
</body>
</html>