*{
	margin:0;
	padding:0;
}

body{
	font-family: American Typewriter,serif;
	background-color:lightyellow;
    margin-left: 100px;
    color:{{color|safe}};
    font-size:{{letra|safe}};
	margin:0;
	padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F1C40F;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #F1C40F;
}

.active {
    background-color: #E74C3C  ;
}
#titulo{
	font-family:"Courier New", Courier, monospace;
	font-size: 2vw;
	text-align: center;
}

#imagen{
    margin-left: 100px;
}

#box{
    width:800px;
	margin-left: 100px;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	height:35px;
	text-align:center;
	background:#F1C40F;
	color:#FDFEFE
}
#main{
	margin-left: 100px;
}
.right{
    width: 250px;
	height: auto;
	margin-top:50px;
	background: #F1C40F;
    text-align: justify;
    opacity: 0.7;
	margin-left: 790px;
}
.right input{
	font-weight: bold;
}
.box{
	font-weight: bold;
  	margin-bottom: 100px;
}
.Usuarios{
	width: 230px;
	height: auto;
	margin-left: 790px;
    margin-top:50px;
    text-align: justify;
}
.filtro_distrito{
	width: 300px;
	height: auto;
	margin-top:25px;
	margin-left: 750px;
    color: #1F618D;
    background: #F1C40F;
    text-align: justify;
    opacity: 0.7;

}
#contenidocomun{
    margin-top:-150px;
    width:700px;
    border:1px solid #D35400;
    margin-right: 100px;
    margin-left: 100px;
    height:auto;
    text-align:justify; 
    background:#F5CBA7; 
    opacity:0.9;
}
.boton_museos{
    margin-left: 100px;
    margin-top: -100px;
}
.museos_todos{
	margin-top:0px;
    width:700px;
    border:1px solid #D35400;
    margin-left: 100px;
    height:auto;
    text-align:justify;  
    background:#F5CBA7; 
    opacity:0.9;
}
.muestra_museos{
	margin-top:-100px;
    width:700px;
    border:1px solid #D35400;
    margin-left: 150px;
    height:auto;
    text-align:justify;  
    background:#F5CBA7; 
    opacity:0.9;


}
.comentario{
	width: 230px;
	height: auto;
	margin-top:0px;
	margin-left: 900px;
    color: #1F618D;
    background: #F1C40F;
    text-align: justify;
    opacity: 0.7;

}
.lista_museos{
	margin-top:50px;
    width:500px;
    border:1px solid #D35400;
    height:auto;
    text-align:justify;
    margin-left: 100px;  
    background:#F5CBA7; 
    opacity:0.9;
}

.museos_seleccionados{
	margin-top:-350px;
    width:400px;
    border:1px solid #D35400;
    margin-left: 725px;
    color: #17202A;
    background: #F1C40F;
    text-align: justify;
    opacity: 0.7;
}

.titulo_pagina{
    font-family:"Courier New", Courier, monospace;
    font-size: 1.75vw;
    text-align:center; 
    margin-left: 100px;
    width:500px;
    margin-top: -100px;
}
.cambios{
    text-align:justify;
    margin-left: 100px;  

}
.titulo_pagina_public{
	font-family:"Courier New", Courier, monospace;
    font-size: 1.75vw;
    text-align:center;
    margin-left: 100px; 
    width:500px;
    margin-top: 0px;
}
.museos_seleccionados_public{
    width:650px;
    border:1px solid #D35400;
    margin-left: 100px;
    text-align:justify;  
    background:#F5CBA7; 
    opacity:0.9;
}

.about{
    width:800px;
    margin-left:100px;
}
#pie_pagina{
	background-color: #F5B7B1;
	text-align: center;
	margin-top:200px;
	margin-left: -100px;
	margin-right: -100px;
	font-size:10px;
	height: auto;
}




